.markdown {
  background-color: var(--background-secondary);
  color: var(--foreground);
  li {
    list-style-type: square;
    word-break: break-word;
  }
}

.markdown pre,
.markdown code,
.markdown blockquote {
  background-color: var(--background-secondary);
  color: var(--foreground);
}

/* 隐藏 Markdown 中的水平线 */
.markdown hr {
  display: none;
}

/* 隐藏 @uiw/react-md-editor 可能添加的底部横线 */
.markdown::after {
  display: none;
}